
{% extends 'base.html' %}{% load crispy_forms_tags %} 
{% load static %} 
{% block body %}
<head>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>


<form action="" method="POST">
    {% csrf_token %}
    <H2>This Is Login Page </H2>
    <!-- {{form.as_p}} -->
    
    <label for="username">Name:</label>
    <input type="text" name="username" id="username"><br><br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password"><br><br>

    <button type="submit" a href="{% url 'login'%}">Login</button>
    <button><a href="{% url 'register' %}"> Signup </a></button>
</form>


{% endblock %} 
